@import "../../global/styles/variables.scss";
@import "../../global/styles/utils.scss";

bb-customer {
    .customer-item { display:flex; flex-wrap:wrap; align-items: center;
        > * { padding-left:$gutter; padding-right:$gutter; }
        bb-booking { flex: 1 1 50%; }
        bs-split-button { justify-self: stretch; flex-grow:1;
            > * { float:right; }
        }
    }
}