@import "../../global/styles/variables.scss";
@import "../../global/styles/utils.scss";

bb-customer-list {
    .customer-list { list-style:none; padding-left:0; margin-bottom:0;
        li { border:$border-style; border-radius: $bradius; }
        li + li { margin-top:$gutter-sm; }
    }
}